.strategic{
    padding: 100px 0 80px;
    
    @media screen and (max-width:550px) {
        padding: 50px 0;
        
    }

    .content{
        text-align: center;
        h2{
            color: #ffffff;
            font-weight: 700;
            font-size: 60px;

            @media screen and (max-width:1193px) {
                font-size: 48px;
            }
            @media screen and (max-width:993px) {
                font-size: 42px;
            }
            @media screen and (max-width:500px) {
                font-size: 28px;
            }

            span{
                color: #DCA629;
            }
        }
        p{
            padding: 25px 0;
            line-height: 34px;
            font-size: 22px;
            color: rgba(255, 255, 255, 0.7);
            margin-bottom: 0;
            
        }
        
    }
}

